article {
    --img-scale: 1.001;
    --title-color: black;
    --link-icon-translate: -20px;
    --link-icon-opacity: 0;
    position: relative;
    border-radius: 16px;
    box-shadow: none;
    background: #fff;
    transform-origin: center;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
  }
  
  article a::after {
    position: absolute;
    inset-block: 0;
    inset-inline: 0;
    cursor: pointer;
    content: "";
  }
  
  /* basic article elements styling */
  article h2 {
    margin: 0 0 18px 0;
    font-family: "Bebas Neue", cursive;
    font-size: 1.9rem;
    letter-spacing: 0.06em;
    color: var(--title-color);
    transition: color 0.3s ease-out;
  }
  
  figure {
    margin: 0;
    padding: 0;
    aspect-ratio: 16 / 9;
    overflow: hidden;
  }
  
  article img {
    max-width: 100%;
    transform-origin: center;
    transform: scale(var(--img-scale));
    transition: transform 0.4s ease-in-out;
  }
  
  .article-body {
    padding: 24px;
  }
  
  article a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #28666e;
  }
  
  article a:focus {
    outline: 1px dotted #28666e;
  }
  
  article a .icon {
    min-width: 24px;
    width: 24px;
    height: 24px;
    margin-left: 5px;
    transform: translateX(var(--link-icon-translate));
    opacity: var(--link-icon-opacity);
    transition: all 0.3s;
  }
  
  /* using the has() relational pseudo selector to update our custom properties */
  article:has(:hover, :focus) {
    --img-scale: 1.1;
    --title-color: #28666e;
    --link-icon-translate: 0;
    --link-icon-opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
  *,
*::before,
*::after {
  box-sizing: border-box;
}

.articles {
    display: grid;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 24px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 24px;
  }
  
  @media screen and (max-width: 960px) {
    article {
      container: card/inline-size;
    }
    .article-body p {
      display: none;
    }
  }
  /* .article-wrapper{
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
  } */
  @container card (min-width: 380px) {
    .article-wrapper {
      display: grid;
      grid-template-columns: 100px 1fr;
      gap: 16px;
    }
    .article-body {
      padding-left: 0;
    }
    figure {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    figure img {
      height: 100%;
      aspect-ratio: 1;
      object-fit: cover;
    }
  }
  
  .sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }
body{
  
  background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
}
a{
    text-decoration: none !important;

}
.navbar{
    margin-top: 0%;
    width:100%;
    height:65px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(122, 143, 189,0.4);
}
.navbar div{
    width:20%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-bottom-right-radius:10px
}
.navbar div:hover{
    background-color: rgba(122, 143, 189, 0.8);
}
.navbar a{
    text-decoration: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
    width:100%;
}
.navbar a:hover{
    color: White !important;
    text-decoration: solid;
    font-size:x-large;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
height: 100%;
}
.intro{
    border-style:double;
    border-top: none;
    border-bottom: none;
    display:flex;
    justify-content: center;
    align-items: center;
    width:80%;
}
.intro-body{
    width:50%;
}
.my-picture{
    display:flex;
    justify-content: center;
    align-items: center;
}
#myimage{
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    margin-left:2%;
    border-radius: 35%;

    width: 400px;
    height: 488px;
}
#myvideo{
    border-style:solid;
    border-width:10pt;
    border-color: rgba(122, 143, 189, 1);
}
.intro-video{
    margin-top: 10% ;
}
.footer{
height:65px;
}
#contact-me{
    display: flex;
    justify-content: center;
    height:100%;
}
#contact-me div{
    margin:2pt;
    width: 33.33%;
    border-top-right-radius: 10%;
}
#contact-me a{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.projects-div{
    display: flex;
    justify-content:center;
    align-items:center;
}
.footer {
    position: bottom;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(122, 143, 189, 0.2);
    text-align: center;
}

#contact-me {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

#contact-me div {
    margin: 5px;
}
.education-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
}
table {
	width: 60%;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: #000;
}

th {
	text-align: left;
}

thead {
	th {
		background-color: #8e8f94;
	}
}

tbody {
	tr {
		&:hover {
			background-color: rgba(255,255,255,0.3);
		}
	}
	td {
		position: relative;
		&:hover {
			&:before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: -9999px;
				bottom: -9999px;
				background-color: rgba(255,255,255,0.2);
				z-index: -1;
			}
		}
	}
}
